.main-image {
	margin-top: 50px;
	max-width: calc(100vw - 50px);
}

@media only screen and (min-width: 600px) {
  .main-image {
    max-width: 600px;
  }
}

.text {
	margin-top: 50px;
	font-family: Verdana;
	font-size: 200%;
	text-align: center;
	color: rgb(80,80,80);
}